html,
body,
#app {
  width: var(--rainbow-width);
  height: var(--rainbow-height);
  background-color: var(--rainbow-background);
}

.draggable {
  -webkit-app-region: drag;
}

.not-draggable {
  -webkit-app-region: no-drag;
}

.system-top-bar {
  height: var(--rainbow-tabbar-height);
  border-bottom: var(--system-top-bar-bottom-border);
}

.system-container-box {
  height: var(--system-container-box-height);
  display: flex;
  flex-direction: row;
}

.system-aside-bar {
  width: var(--system-aside-bar-width);
  height: var(--system-container-box-height);
  border-right: var(--system-aside-bar-right-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.system-main {
  height: var(--system-container-box-height);
  width: calc(var(--rainbow-width) - var(--system-aside-bar-width));
}

.system-top-button {
  width: var(--rainbow-tabbar-button-size);
  height: var(--rainbow-tabbar-button-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-app-region: no-drag;
}

.system-top-button:hover {
  background-color: var(--rainbow-tabbar-button-hover);
}

.system-top-button-danger:hover {
  background-color: #d51212;
}

.system-aside-bar-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.system-aside-bar-item {
  width: 100%;
  height: var(--system-aside-bar-item-height);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.system-aside-footer {
  height: var(--system-aside-footer-height);
}

.system-aside-bar-item-button {
  width: var(--system-aside-bar-item-button-size);
  height: var(--system-aside-bar-item-button-size);
  border-radius: 6px;
}

.system-aside-bar-item-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.system-aside-bar-item-button:hover {
  background-color: var(--system-aside-bar-item-button-hover);
}

.system-aside-bar-item-button-active {
  background-color: var(--system-aside-bar-item-button-active);
}

.router-link-active {
  background-color: var(--system-aside-bar-item-button-hover);
}

.splitpanes__splitter {
  background-color: var(--rainbow-border-color);
  z-index: 999999;
}

.splitpanes--vertical .splitpanes__pane {
  transition: none !important;
}

.v-popper--theme-app-menu .v-popper__inner {
  background-color: var(--rainbow-popper-background);
  border: 1px solid var(--rainbow-border-color);
  border-radius: var(--rainbow-border-radius);
}

.v-popper--theme-app-menu .v-popper__arrow-container .v-popper__arrow-outer,
.v-popper--theme-app-menu .v-popper__arrow-container .v-popper__arrow-inner {
  border-color: var(--rainbow-popper-background);
}
